#include <windows.h>

IDI_ICON1 ICON "resource/logo/logo.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION @PROJECT_VERSION_MAJOR@,@PROJECT_VERSION_MINOR@,@PROJECT_VERSION_PATCH@
 PRODUCTVERSION @PROJECT_VERSION_MAJOR@,@PROJECT_VERSION_MINOR@,@PROJECT_VERSION_PATCH@
 FILEFLAGSMASK 0x3FL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "YTX Tech"
            VALUE "FileDescription",  "YTX"
            VALUE "FileVersion",      "@PROJECT_VERSION@"
            VALUE "ProductVersion",   "@PROJECT_VERSION@"
            VALUE "InternalName",     "YTX"
            VALUE "OriginalFilename", "YTX.exe"
            VALUE "ProductName",      "YTX"
            VALUE "LegalCopyright",   "Copyright (C) 2023 YTX"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
